<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cow">COW</a></li>
        		<li><a href="/nss">NSS</a></li>
            <li><a href="/catchbox">Catchbox</a></li>
            <li><a href="/revolabs">Revolabs Mic</a></li>
            <li><a href="/flip">Samsung Flip</a></li>
            <li><a href="/solstice">Solstice</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sit-colead@singaporetech.edu.sg">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
