<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/aceroom/about">About</a></li>
        		<li><a href="/aceroom/cow">COW</a></li>
        		<li><a href="/aceroom/nss">NSS</a></li>
            		<li><a href="/aceroom/catchbox">Catchbox</a></li>
            		<li><a href="/aceroom/revolabs">Revolabs Mic</a></li>
            		<li><a href="/aceroom/flip">Samsung Flip</a></li>
            		<li><a href="/aceroom/solstice">Solstice</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sit-colead@singaporetech.edu.sg">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
